<!--The content below is only a placeholder and can be replaced.-->
<div class="g-hdr">
    <div class="g-grid-row">
        <div class="g-grid-span12">
            <div class="g-hdr-branding">
                <a href="/home/nl/nl" title="Home">
                    <span class="g-hdr-branding-logo">
                  <img src="assets/klm_head@2x.png" alt="KLM" width="72" height="44">
              </span>
                    <span class="g-hdr-branding-logo-rda">
                  <img src="assets/rda_regular_2x_tcm541-466994.png" width="121" height="15" alt="Royal Dutch Airlines">
              </span>
                </a>
                <a href="http://www.skyteam.com" title="Skyteam" target="_blank">
                    <span class="g-hdr-branding-skyteam">
                  <img src="assets/klm_skyteam@2x.png" alt="Skyteam" width="31" height="31">
              </span>
                </a>

            </div>
            <div class="g-hdr-account-menu">
                <div class="g-hdr-country-language" id="klm-countrylang">
                    <a id="js-klm-countrylang" class="item-label js-g-mi"><span class="klm-countrylang-wrapper"><img alt="Netherlands" src="assets/netherlands_tcm541-186608.gif"><span class="klm-countrylang-text">Netherlands</span> <span aria-hidden="true" class="g-klmicon">v</span></span></a>
                </div>
                <div class="g-hdr-login-widget-container">
                    <div class="mya-loginwidget-header">
                        <div class="">
                            <ul class="">
                                <li class="mya-loginwidget-header-menu__itemfb">
                                    <a class="js-mya-loginwidget-social-trigger js-g-mi">
                                        <div>
                                            <img class="social" src="assets/facebook-s_tcm169-429489.png" alt="facebook" title="facebook"> Inloggen met facebook
                                        </div>
                                    </a>
                                </li>
                                <li class="mya-loginwidget-header-menu__itemlogin">
                                    <a class="js-mya-dropdown-link mobile-only sprite mobile-sprite-account">
                                        <span>
                                              Inloggen
                                      </span>
                                    </a>

                                </li>
                                <li class="mya-loginwidget-header-menu__itemregister">
                                    <a class="js-register-link">
                                        <span>Registeren</span>

                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-carosuel></app-carosuel>