<div class="slideshow-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">


    <div class="mySlides fade">
        <div class="play-pause" (click)="playPause()">
            <span id="play" *ngIf="autoPlay"> <i  class="fa fontsize24">&#xf04b;</i>  </span>
            <span id="pause" *ngIf="!autoPlay"><i  class="fa fontsize24">&#xf04c;</i> </span>
        </div>
        <div class="blocktext">{{current.text}}</div>
        <img id="imgcontainer" *ngIf="current.picurl" src="../assets{{current.picurl}}" style="width:100%">
        <div class="placeholder"><img src="../assets/static.png"></div>
    </div>

    <div class="controls" [style.visibility]="controlsVisible">
        <a id="prev" class="prev" (click)="showPrevSlides()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a id="next" class="next" (click)="showNextSlides()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>

        <p class="bullet">
            <span class="dot" [ngClass]="{'active': slideIndex === i}" (click)="showCurrentSlide(i)" *ngFor="let item of carouselData; let i = index"></span>
        </p>
    </div>
</div>